/* FONTS START */
@font-face {
  font-family: dm-sans-bold;
  src: url(../fonts/dm-sans/DMSans-Bold.ttf);
}
@font-face {
  font-family: dm-sans-regular;
  src: url(../fonts/dm-sans/DMSans-Regular.ttf);
}
@font-face {
  font-family: dm-sans-italic;
  src: url(../fonts/dm-sans/DMSans-Italic.ttf);
}
/* FONTS END */

/*-- RESET CSS START --*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
a,
button {
  color: inherit;
  text-decoration: none;
  border: none;
}
ul,
ol {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
/*-- RESET CSS END --*/

/*-- CSS VARIABLES START --*/
:root {
  /* Padding */
  --large-section-padding: 190px 0;
  --small-section-padding: 90px 0;

  /* Fonts */
  --heading-size: 35px;
  --mini-heading-size: 18px;
  --text-size: 18px;
  --mini-text-size: 14px;

  /* Colors */
  --brand-color: #0a8270;
  --brand-light-color: #0a8270eb;
  --heading-color: #314d4a;
  --text-color: #646d6c;
  --section-bg-color: #f6f3eb;
}
/*-- CSS VARIABLES END --*/

/* COMMON CSS START */
.col-lg-4 {
  width: 33.33333333%;
}
.container {
  margin: auto;
  width: 90%;
}
.flex-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* Common Heading */
.common-heading {
  text-align: center;
}
.common-heading p {
  margin-bottom: 70px;
  padding: 16px 410px 0;
}
/* Padding */
.service,
.review-form {
  padding: var(--large-section-padding);
}
.project,
.countdown {
  padding: var(--small-section-padding);
}
/* Font */
.heading,
.mini-heading {
  font-family: dm-sans-bold;
  color: var(--heading-color);
}
.heading {
  font-size: var(--heading-size);
}
.mini-heading {
  font-size: var(--mini-heading-size);
}
p,
.text,
.medium-text,
.mini-text {
  font-family: dm-sans-regular;
  color: var(--text-color);
}
.text {
  font-size: var(--text-size);
}
.mini-text {
  font-size: var(--mini-text-size);
}
/* Color */
header,
.banner,
.project,
footer {
  background-color: var(--section-bg-color);
}
/* Button */
.banner-button {
  padding: 18px 50px !important;
}
.common-button {
  padding: 15px 35px;
}
.banner-button,
.common-button {
  font-family: dm-sans-bold;
  background-color: var(--brand-color);
  color: #fff;
}
.banner-button:hover,
.common-button:hover,
.hamburger-toggler:hover {
  background-color: var(--brand-light-color);
  cursor: pointer;
}
/* GO-TO TOP BUTTON  */
#myBtn{
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 13px;
  font-size: 16px;
  color: var(--brand-color);
  background-color: transparent;
  border: 1px solid #c1c1c1;
  border: 1px solid #ffffff;
  border-radius: 6px;
  outline: transparent;
  cursor: pointer;
  z-index: 99;
}
#myBtn:hover {
  background-color: var(--brand-color);
  color: #ffffff;
  outline: none;
}
/* COMMON CSS END */

/* HEADER CSS SATRT */
header {
  padding: 35px 0;
}
header ul {
  display: flex;
  gap: 40px;
}
header .flex-wrapper ul li:hover a,
.hamburger-menu ul li:hover a {
  color: var(--brand-color);
}
.logo {
  font-size: 28px;
}
/* Hamburger Toggler */
.hamburger-toggler {
  display: none;
  padding: 1px 8px;
  width: 40px;
  height: 40px;
  background-color: var(--brand-color);
  border-radius: 3px;
}
.hamburger-toggler .bar,
.hamburger-toggler::after,
.hamburger-toggler::before {
  content: "";
  display: block;
  margin: 6px 0;
  width: 100%;
  height: 3px;
  background-color: #fff;
  border-radius: 5px;
  transition: 0.4s;
}
/* The below three css is for when we click on our hamburger menu button the icon move to cross shape */
.hamburger-toggler.active::before {
  transform: rotate(-44deg) translate(-6px, 6px);
}
.hamburger-toggler.active::after {
  transform: rotate(46deg) translate(-7px, -6px);
}
.hamburger-toggler.active .bar {
  opacity: 0;
}
/* Hamburger Menu */
.hamburger-menu {
  display: none;
}
.hamburger-menu {
  padding: 50px 0;
  width: 100%;
  min-height: 100vh;
  background-color: #ffffff;
  transition: 0.4s;
}
.hamburger-menu ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.hamburger-menu ul li {
  padding: 15px 0;
  width: 100%;
  text-align: center;
}
.hamburger-menu ul li:hover {
  background-color: aliceblue;
}
/* HEADER CSS END */

/* BANNER CSS END */
.banner {
  padding: 50px 0 100px;
}
.banner h2 {
  padding-right: 180px;
  font-size: 70px;
  letter-spacing: -0.32px;
  line-height: 80px;
}
.banner p {
  margin: 20px 0 40px;
  padding-right: 400px;
  line-height: 30px;
}
/* BANNER CSS END */

/* SERVICES CSS END */
.service .flex-wrapper {
  gap: 30px;
}
.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 38px 24px 52px;
  text-align: center;
}
.box:hover {
  box-shadow: 0px 10px 20px 0px #0000000d;
  outline: 2px solid var(--brand-color);
  cursor: pointer;
}
.service-icon {
  padding: 25px 21px;
  width: 86px;
  height: 86px;
  border-radius: 6px;
  box-shadow: 0px 10px 20px 0px #0000000d;
}
.service-contents h2 {
  margin: 36px 10px;
}
.service-contents p {
  padding: 0 35px;
  line-height: 28px;
}
/* SERVICES CSS END */

/* PROJECT CSS START */
/* Texts */
.project .common-heading {
  text-align: left;
}
.project .common-heading h1 {
  padding-right: 900px;
}
.project .common-heading p {
  margin-bottom: 0;
  padding: 16px 810px 0 0;
}
/* Button */
.project-button {
  text-align: end;
}
.project-button .common-button {
  padding: 0;
  font-size: 15px;
  background-color: transparent;
  color: var(--brand-color);
}
.project-button .common-button:hover {
  color: var(--brand-light-color);
}
.project-button .icon {
  margin-bottom: -5px;
  width: 20px;
  height: 20px;
  fill: currentColor;
}
/* Projects */
.project-contents {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
}
.first-column {
  display: flex;
  flex-direction: column;
  gap: 70px;
  width: 48%;
}
.second-column {
  display: flex;
  flex-direction: column;
  gap: 70px;
  width: 48%;
}
.project-box img {
  width: 100%;
}
.box-1,
.box-4 {
  width: 70%;
  width: 85%;
}
.box-4 {
  margin-left: 98px;
}
.project-box h2 {
  margin: 28px 0 16px;
  font-size: 26px;
}
.project-box p {
  padding-right: 20px;
}
/* PROJECT CSS END */

/* COUNTER CSS START */
.countdown {
  background-color: var(--brand-color);
  color: #ffffff !important;
}
.counter-wrapper {
  display: flex;
}
.counter-box {
  padding: 0 35px;
  text-align: center;
}
.counter-box .counter {
  display: inline;
}
.counter-box .counter,
.sign {
  font-family: dm-sans-bold;
  font-size: var(--heading-size);
}
.label {
  font-family: dm-sans-regular;
  color: #ddeae8;
}
/* COUNTER CSS END */

/* REVIEW & FORM CSS START */
/* REVIEW START */
.review {
  margin: 100px 0 50px;
}
.review .flex-wrapper {
  gap: 30px;
}
.review-box {
  padding: 0 30px 28px;
  outline: 2px solid var(--section-bg-color);
  border-radius: 10px;
  background-color: #fff;
}
.review-box:hover {
  outline: none;
  box-shadow: 0px 18px 36px 0px #0000000d;
}
.review-image img {
  position: relative;
  margin: -45px 0 0 -20px;
}
.review-box .people-name {
  line-height: 30px;
}
.review-box span {
  color: var(--brand-color);
}
.people-review {
  margin-top: 28px;
  padding-right: 40px;
  font-family: dm-sans-italic;
  line-height: 26px;
}
.review-form .project-button {
  text-align: center;
}
/* FORM START */
.inputs {
  width: 64%;
}
.form {
  margin-top: 190px;
}
/* Form Inputs */
input,
select,
#dropdown,
textarea {
  font-family: dm-sans-regular;
  font-size: var(--mini-text-size) !important;
  color: var(--text-color);
  border: 2px solid var(--section-bg-color);
  background-color: #fff; /*this bg is given for firefox browser*/
}
select {
  appearance: none; /* Remove default appearance */
  -webkit-appearance: none; /* For Safari and Chrome */
  -moz-appearance: none; /* For Firefox */
}
.select-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.select-wrapper .icon-box {
  margin-left: -30px;
}
/* ----this code for removing number scroller in number input commit the codes and see the reason----START */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* ----this code for removing number scroller in number input commit the codes and see the reason----END */
input:focus,
select:focus,
textarea:focus {
  border: 2px solid var(--section-bg-color);
  outline: none;
}
.inputs {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.inputs input,
select,
textarea {
  width: 680px;
  padding: 16px 36px;
}
textarea {
  height: 160px;
}
#myInput {
  resize: none; /* Prevents resizing */
  overflow: hidden; /* Hides overflowing text */
  text-overflow: ellipsis; /* Adds ellipsis for overflowed text */
}
.inputs-button {
  margin-top: 30px;
  text-align: end;
}
/* Firefox Input CSS Code Start (THIS CODE ARE SPECIFICLY DONE FOR FIREFOX BROWSER) */
/* ----this code for removing number scroller in number input commit the codes and see the reason----START */
.options {
  padding: 10px 20px !important;
  font-family: Arial, sans-serif;
}
.options:focus {
  background-color: #f0f8ff !important;
}
/* it is to remove number input scroller for number */
input[type="number"] {
  -moz-appearance: textfield;
}
/* ----this code for removing number scroller in number input commit the codes and see the reason----END */
/* Firefox Input CSS Code End */

/* Contact */
.contact {
  width: 36%;
}
.contact .common-heading p {
  padding: 16px 0 0;
}
.contact .common-heading {
  text-align: left;
}
.contact-box {
  display: flex;
  justify-content: center;
  padding: 70px 0;
  border-top: 10px solid var(--brand-color);
  background-color: var(--heading-color);
}
.contact-box h2 {
  color: #fff !important;
  font-weight: 100;
}
.contact-box .mini-text {
  margin-top: 15px;
}
.contact-box .mini-text img {
  margin: 0 5px -7px 0;
}
/* REVIEW & FORM CSS END */

/* FOOTER CSS START */
footer {
  border-bottom: 10px solid var(--brand-color);
}
.footer-wrapper {
  align-items: center;
  flex-direction: row;
  display: flex;
  padding: 100px 0 40px;
}
.footer-copywrite p,
.first-links ol {
  margin-top: 16px;
}
.footer-copywrite {
  width: 40%;
  padding-bottom: 25px;
}
.footer-copywrite p {
  padding-right: 320px;
  line-height: 26px;
}
.footer-copywrite p a:hover,
.first-links a:hover {
  color: var(--brand-color);
}
.footer-links {
  width: 60%;
}
.footer-links .flex-wrapper {
  align-items: baseline;
}
.footer-links .col-lg-4 {
  display: flex;
  justify-content: end;
  gap: 0;
}
.first-links ol li {
  padding-top: 10px;
}
.first-links ol li:first-child {
  padding-top: 0;
}
/* FOOTER CSS END */
